nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.5s ease;
  h1 {
    font-size: xx-large;
  }
  button {
    font-size: large;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    border: 1px solid black;
    &:hover {
      background: #0d7377;
      color: black
    }
  }
}

.fa-music {
  color: white;
}

.highlight {
  background: #0d7377;
}

.fa-music highlight {
  color: black;
}

@media screen and (max-width: 420px) {
  nav {
    h1 {
      font-size: large;
    }
    button {
      font-size: small;
    }
  }
}