nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    transition: all 0.3s ease;
    border: 1px solid black;
    &:hover {
      background: #32e0c4;
    }
  }
}

.highlight {
  background: #32e0c4;
}

@media screen and (max-width: 760px) {
  nav {
    // button {
    //   z-index: 3;
    // }
  }
}