.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 20vh;
}

.controls {
  width: 60%;
  display: flex;
  align-items: center;
  input {
    width: 100%;
    // padding: 1rem 0;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
  }

}

p {
  padding: 1vh;
}

.player-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 40%;
  i {
    cursor: pointer;
  }
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: transparent;
  border: none;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: transparent;
  border: none;
}

.track {
  background: lightblue;
  margin: 0 1rem;
  width: 100%;
  height: 1rem;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
}

.track-animation {
  background: grey;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0%);
  pointer-events: none;
}

@media screen and (max-width: 760px) {
  .controls {
    width: 80%;
  }
  .player-buttons {
    width: 40%;
  }
  input {
    width: 40%;
  }
}