.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 18vh;
  margin-top: 20px;
}

.controls {
  width: 22rem;
  display: flex;
  align-items: center;
  input {
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
  }
}



.player-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 22rem;
  i {
    cursor: pointer;
  }
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: transparent;
  border: none;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: transparent;
  border: none;
}

.track {
  background: lightblue;
  margin: 0 1rem;
  width: 100%;
  height: 1rem;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
}

.track-animation {
  background: #eeeeee;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0%);
  pointer-events: none;
}

@media screen and (max-width: 760px) {
  .controls {
    width: 23rem;
  }
  .player-buttons {
    width: 17rem;
  }
  input {
    width: 40%;
  }
}
