*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.track-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: white;
  box-shadow: 2px 2px 50px gray;
  overflow: scroll;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;
  padding: 20px 0;

}

.track-song  {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  img {
    width: 30%;
  }
  cursor: pointer;
  &:hover {
    background: rgb(193, 255, 242);
  }
}

.title {
  padding: 1rem 2rem 1rem 2rem;
}

.song-desc {
  padding-left: 1rem;
  h4 {
    font-size: 0.7rem;
  }
  h2 {
    font-size: 1rem;
  }
}

.selected {
  background: rgb(78, 255, 226);
}

.active {
  transform: translateX(0);
  opacity: 1;
}

@media screen and (max-width: 760px) {
  .active {
    width: 100%;
  }

}