.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  transition: all 0.5s ease;
  img {
    width: 20rem;
  }
  h2 {
    padding: 2rem 1rem 1rem 1rem;
    transition: all 1s ease;
  }
  h4 {
    font-size: medium ;
  }
}


@media screen and (max-width: 760px) {
  img {
    width: 20rem;
  }
}


.dot-flashing {
  margin: 15px 0 0 -28px;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 20px;
  background-color: #212121;
  color: #212121;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -10px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #212121;
  color: #212121;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 10px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #212121;
  color: #212121;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #212121;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}