*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #212121;
}

*::-webkit-scrollbar {
  height: 1px;
}


.track-list-open {
  .song-container, .player {
    display: flex;
    margin-left: 20%;
    align-self: center;
    align-content: space-between;
    transition: all 0.5s ease;
  }
  nav {
    display: flex;
    margin-left: 45vh;
    transition: all 0.5s ease;
  }
}

@import "./track";
@import "./player";
@import "./trackList";
@import "./nav";